<mat-card>
  <mat-card-header>
    <h2>Registration</h2>
  </mat-card-header>
  <mat-card-content>
    <mat-stepper [linear]="isLinear" #stepper>
      <mat-step [stepControl]="firstFormGroup" label="user Detials">
        <form class="example-form" [formGroup]="firstFormGroup" Group>
          <mat-form-field [style.width.%]="100">
            <mat-label>UserName</mat-label>
            <input matInput formControlName="id" />
          </mat-form-field>
          <mat-form-field [style.width.%]="100">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" />
          </mat-form-field>
          <mat-radio-group
            formControlName="gender"
            aria-label="Select an option"
          >
            <mat-radio-button value="male">Male</mat-radio-button>
            <mat-radio-button value="female">Female</mat-radio-button>
          </mat-radio-group>
          <div>
            <button mat-button mat-raised-button color="accent" matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup" label="Create Password">
        <form [formGroup]="secondFormGroup">
          <mat-form-field [style.width.%]="100">
            <mat-label>Password</mat-label>
            <input type="password" matInput formControlName="password" />
          </mat-form-field>
          <div>
            <button mat-button mat-raised-button color="accent" matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="thirdFormGroup" label="Fill out your address">
        <form [formGroup]="thirdFormGroup">
          <mat-form-field>
            <mat-label>Address</mat-label>
            <input
              matInput
              formControlName="address"
              placeholder="Ex. 1 Main St, New York, NY"
              required
            />
          </mat-form-field>
          <div>
            <button mat-button mat-raised-button color="accent" matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done.</p>
        <div>
          <button mat-button mat-raised-button color="accent" matStepperPrevious>Back</button>
          <div>
            <button
              mat-raised-button
              color="primary"
              (click)="proceedRegister()"
            >
              Submit
            </button>
            
          </div>
        </div>
      </mat-step>
    </mat-stepper>
    <div>
      <a routerLink="/login" mat-raised-button color="accent">Back to Login</a>
    </div>
  </mat-card-content>
</mat-card>
